<div class="screen-height">
	<div class="content" data-ng-init="ctrl.init()">
		<div class="page-header page-header-margin-top-20">
			<h3>{{ctrl.pgTitle}} &nbsp;&nbsp;<small>{{ctrl.pgSubtitle}}</small></h3>
		</div>

		<div id="groupauctionhistory_container" style="margin-top: 10px">
			<div class="panel panel-default">
				<div class="panel-heading">Receipts</div>
				<div class="panel-body">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 300px; display: block; margin-bottom: 10px">
						<div data-ag-grid="ctrl.gridOptions" class="ag-blue" style="height: 100% !important; clear: both;"></div>
					</div>
					<div id="grid-action-btns" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 100%; display: inline-block">
						<button type="button" class="btn btn-danger btn-sm float-right" data-ng-click="ctrl.onClickBtn('Close')">&nbsp;Close</button>
						<button type="button" class="btn btn-danger btn-sm float-right" style="margin-right: 5px" data-ng-click="ctrl.onClickBtn('Delete')"><i class="fa fa-close"></i>&nbsp;Delete</button>
						<button type="button" class="btn btn-primary btn-sm float-right" style="margin-right: 5px" data-ng-click="ctrl.onClickBtn('Edit')"><i class="fa fa-edit"></i>&nbsp;Edit</button>
						<button type="button" class="btn btn-primary btn-sm float-right" style="margin-right: 5px" data-ng-click="ctrl.onClickBtn('New')"><i class="fa fa-plus"></i>&nbsp;New</button>
					</div>
					<div class="row"></div>
					<div data-ng-show="ctrl.isNewClicked || ctrl.isEditClicked" style="margin-top: 10px">
						<cfelement params="ctrl.formParams.receipt" values="ctrl.dynamicModelValues.formParams.receipt"></cfelement>

						<div class="row"></div>
						<div id="grid-action-btns" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 100%; display: inline-block; margin-top: 10px">
							<button type="button" class="btn btn-primary btn-sm float-left" style="margin-right: 5px" data-ng-click="ctrl.onClickBtn('Save')"><i class="fa fa-save"></i>&nbsp;Save</button>
							<button type="button" class="btn btn-danger btn-sm float-left" style="margin-right: 5px" data-ng-click="ctrl.onClickBtn('Cancel')"><i class="fa fa-close"></i>&nbsp;Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>