<!DOCTYPE>
<html ng-app="myApp">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<!-- 6/6<script type="text/javascript">
console.log(this);
  document.write(this);
</script> -->
<title>Barcode generation</title> 
<style type="text/css">

#star{

     color:red;
}

 #batch {
    border-collapse: collapse;
   /* border-spacing: 20;*/
    width: 2400px;
    border: 1px solid #ddd;
    table-layout: fixed;
    border-collapse: separate;
}
th, td {
    width: 140px;
    border: none;
    text-align: left;
    padding: 8px;
    overflow: hidden;
}
/*td {
  height: 50px;
}*/
  button {
    display: inline-block;
    margin: 05px 07px ;
    border-radius: 25px;
    width: 100px;
    height: 30px;
  }
  #inline {
    margin-left:20px;
  }
   #check
    {
       margin-left: 90px;
    }
    #text {
      height: 50px;
      width:400px;
    }
  input {
    border-radius: 25px;
  }
  
  #barcode 
  {
   /* border:ridge;*/
    /*height: 300px;*/
  }
  #tags 
  {
   /* border:ridge;*/
    /*height: 300px;*/
  }
  #tag1:focus {
    background-color: blue;
}
 #tag2:focus {
    background-color: blue;
}

.selected {
  background-color: blue;
}
.selected5 {
  background-color: blue;
}
.selected1 {
  background-color: red;
}
.selected2 {
  background-color: grey;
}
.selected3 {
  background-color: green;
}
.selected4 {
  background-color: gold;
}


.panel.panel-default
{
  height: 50%;
  width: 100%;
   /*margin-top:20px;
  overflow-y: auto;*/
  border-style: solid;
  border-color: black;
}
#search
{
  margin-top: 20px;
}
#buttonwidth{
width: 8%;
}
/*#tag2:hover {
    background-color: blue;
}*/
/*.col-sm-6 {
    width: 50%;
    height: 300px;
}
*/
/*.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 180px;
  /*overflow-y: auto;*/
 /* width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
 
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/
#table-wrapper {
  position:relative;
}
#tscroll {
  height:90%;
  overflow:auto;  
  margin-top:5%;
}
#table-wrapper table {
  width:100%;    
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-5%;
  /* margin-top:-20px;*/
  height:5%;
 /* width:35%;*/
 }
</style>
</head>

<body class="container" ng-controller="BarcodeCntrl" >
<div class="row" ng-cloak>

<div class="col-sm-2">
<label> From <input type="date" ng-model="bit1.date2" ></label>
</div>
<div class="col-sm-2">
<label> To <input type="date" ng-model="bit2.date1" ></label>
</div>
<div class="col-sm-2">
  <button ng-click="dateSearch()" id="search" >Search</button>
</div>
<div class="col-sm-6">
 
  <label >Summary No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select input type="text"  class="selectpicker" ng-model="bitem.count2"  ng-change = "list()">
        <option ng-repeat = " user in res " >{{user.count }}</option>
        
        </select></label><br><br>
</div>



</div>
<div class="row" ng-cloak>
<div class="col-sm-6" >
  <!-- <div style="overflow-x:auto;"> -->
  <!-- <div class="panel panel-default" id="panel"> -->
 
  <label>  Barcode <input type="number" ng-model="barCodeSearch" ng-change=nu()></label>
   <div class="panel panel-default">
       <div id="table-wrapper">
  <div id="tscroll">
  <table class="table no-border" id="barcode">

    <thead>
      <tr><font color="white">
      <th><span class="text">Barcode</span></th>
      <th><span class="text">Date</span></th>
      <th ><span class="text">ItemName</span></th>
      <th><span class="text">Qty</span></th>
      <th ng-if = " hotkeyButton == true"><span class="text">Batch</span></th>
        <!-- <th>Remarks</th>
        <th>Composite?</th>
        <th >Splitable?</th> -->
        </font>
      </tr>
    </thead>
    <tbody>
     <!--  <tr ng-repeat="batch in batch" ng-click="row2(batch)" id="tag1" ng-class="{selected : batch === idSelectedVote}" > -->
      <tr ng-repeat="batch in batch" ng-click="row2(batch,$index)" id="tag2" ng-class="{ 
     'selected1':batch.color === 'red', 'selected2':batch.color === 'grey','selected3':batch.color === 'green','selected4':batch.color === 'gold','selected5':batch.color === 'blue'}" >
      <!--  ng-class="{ 'ERROR': 'severity-error', 'MESSAGE': 'severity-message'}      <td>{{}}</td> <tr ng-repeat="tag in tags"  ng-click="row1(tag)" id="tag1" ng-class="{selected : tag === idSelectedVote}"-->
       <td >{{batch.barcode}}</td>
       <td >{{batch.date | date}}</td>
       <td >{{batch.itemName}}</td>
       <td >{{batch.Batch}}</td>
       <td ng-if = " hotkeyButton == true" >{{batch.tags}} ( {{batch.Batch}} / {{batch.wt}} ) </td>

       </tr>
       </tbody>
       </table>
       </div>
       </div>
       </div>
      </div>
       <div class="container">
       <div class="col-sm-6">
      <!--  <div > -->
      <!--  <div style="overflow-x:auto;"> -->
       <!-- <table class="table no-border" id="tags"> -->
       <div class="panel panel-default">
       <div id="table-wrapper">
  <div id="tscroll">
       <table class="table ">
         
         <thead>
           <tr >
             <th><span class="text">Items</span></th>
             <th><span class="text">Nos</span></th>
           </tr>
         </thead>
         <tbody >
        
            <tr ng-repeat="tag in tags"  ng-click="row1(tag)" id="tag1" ng-class="{selected : tag === idSelectedVote}">
             <td >{{tag.iname}}</td>
             <td >{{tag.itemno}} of {{tag.ttags}}</td>
           </tr>
          
         </tbody>
       </table>
       </div>
       </div>
       </div>
      <!--  </div> -->
       </div>
       </div>
       </div>
       <button type="button" id="buttonwidth" class="btn" ng-click=print() ng-disabled="disablebutton" ng-cloak>Print</button>
       <button type="button" id="buttonwidth" class="btn btn-primary" ng-click=edit() ng-cloak>Edit</button>
       <button type="button" id="buttonwidth" class="btn btn-warning" ng-if = " updateButton != true" ng-click=deletebarcodegeneration() ng-cloak>Delete</button>
        <a href='mainpage.html'><button type="button" class="btn btn-danger"   ng-cloak>Close</button></a>
       <button  type="button" id="buttonwidth" class="btn btn-info" ng-click="generateBarcode()"  ng-disabled="all" ng-if = " updateButton != true"  ng-cloak>Allocate</button>
       <button type="button" ng-if = " updateButton != true" id="buttonwidth" class="btn btn-success" ng-click="saveBatchGeneration()"  ng-cloak>Save</button>

       <button type="button" ng-if = " updateButton == true" id="buttonwidth" class="btn btn-success" ng-click="saveBatchGeneration()" ng-cloak>Update</button>

       <button type="button" id="buttonwidth" class="btn btn-danger" ng-click=cancelbarcodegeneration() ng-cloak>Cancel</button>
       <!-- </div>
       </div> -->
        <div style="overflow-x:auto;"> 
  <table class="table table-striped" id="batch" ng-cloak >
    <thead>
      <tr><font color="white">
        <th>ITEM<span id="star"><font size="04">*</font></span></th>
        <th>BARCODE<span id="star"><font size="04">*</font></span></th>
        <th>DESCRIPTION</th>
        <th>SIZE</th>
        <th >PURITY<span id="star"><font size="04">*</font></span></th>
        <th >GROSS WT<span id="star"><font size="04">*</font></span></th>
        <th >GROSS PCS<span id="star"><font size="04">*</font></span></th>
        <th >STONE WT</th>
        <th>UoM<span id="star"><font size="04">*</font></span></th>
        <th >NETWT</th>  
        <th >Pct</th>
        <th>WASTAGE</th>
        <th >ADJUSTED QTY</th>
        <th >CHG.UNITS</th>
        <th>MRP</th>
        <th >RATE</th>
        <th >LABOUR CALC</th>
        <th >LABOUR AMT</th>
        <th>LABOUR VAL</th>
        <th>STONE CALC</th>
        <th>STONE CHG</th>
        <th>STONE VAL</th>
       <th >TAXABLE VALUE</th>
        <!--  <th >Tax</th>
        <th >TAXAMT</th> 
        <th >FINAL VAL</th>--></font>

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in userit">
       
       <td>
        <select   ng-model="item.itemName" ng-change="itemSelect(item.itemName,$index)" ng-disabled="$index == 0">
        <option ng-repeat="itemname in items" >{{itemname.Name}}</option >
        </select>
         
          
       </td>
 
       <td>
        <input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" ng-model="item.barcode" id="usr" readonly>
       </td>

       <td>
       <input type="text" class="form-control" id="usr" ng-model="item.desc"
       ng-change = "complex($index)"></td>


       <td><input type="text" class="form-control" id="usr" size="40" ng-model="item.size" ></td>
 
       <!-- <td> <select ng-model="item.purity" class="selectpicker" ng-change="purityCal($index,purity)">
      
       <option ng-repeat="pure in irate" value="{{pure.name}}">{{pure.name}}</option>
       </select>
       </td>  -->
      
       <td> <select ng-model="item.purity" class="selectpicker" ng-change="purityCal($index,item.purity)" >
       <option ng-repeat="pure in item.irate" >{{pure.ValueNotation}}</option>
       </select>
       </td>

       <!-- <td><input type="text" class="form-control" id="usr" size="40" ng-model="item.purity" value="{{item.purity}}"></td> -->

       <td><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.gwt"  ng-change="newgwt($index)" ng-blur="calMrpValue($index)" ></td>

       <td><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.gpcs" ng-change="gpcsDecimals($index)"  placeholder="0" ></td>
       <!-- ng-if = "disableMrp == true" -->
       

       <td><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control"  id="usr"  ng-model="item.stwt" ng-change="newstwt($index)"   ng-blur="stoneTolerence($index);calMrpValue($index)"  ></td>


       <td><select ng-model="item.uom" class="selectpicker" ng-change= "uomConversion($index,item.uom)"  ng-blur="calMrpValue($index)" >
       <option ng-repeat="uom in uom"  >{{uom.name}}</option>
       </select></td>

       <td><input type="text" ng-model="item.ntwt" class="form-control" id="usr" readonly></td>

      <!--  <td><select ng-model="pctcal" class="selectpicker">
       <option ng-repeat="pct in pct" value="{{pct.name}}">{{pct.name}}</option>
       </select></td> -->

       <td><select ng-model="item.pctcal" ng-change=newwas($index,item.pctcal)  ng-blur="calMrpValue($index)" class="selectpicker">
       <option ng-repeat="pct in pct" >{{pct.name}}</option>
       </select></td>

       <td><input type="number" min="1"  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.wastage"  ng-change=newwas($index,item.pctcal) ng-blur="calMrpValue($index)"  placeholder="0" ></td>



       <td ><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.matadj" readonly></td>

       <td><input type="text" class="form-control" id="usr" ng-model="item.chgunt" readonly></td>

       <td><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');" class="form-control" id="usr" ng-model="item.mrp" ng-change="mrpCal($index,item.mrp)"  ></td>

       <td ><input type="text" class="form-control" id="usr" ng-model="item.rate"  ng-change="rateChange($index)" ng-blur="calMrpValue($index)" ></td>
       <!-- <td><select ng-model="labval" class="selectpicker">
       <option ng-repeat="lab in labcal" value="{{lab.name}}">{{lab.name}}</option>
       </select></td> -->

         <td><select ng-model="item.labcal"  ng-change="newlab($index,item.labcal)" ng-blur="calMrpValue($index)"  class="selectpicker"  >
       <option  ng-repeat="lab in labcal" >{{lab.name}}</option>
       </select></td>


       <td ><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.labamt"  ng-change="newlab($index,item.labcal)" ng-blur="calMrpValue($index)"  placeholder="0" ></td>

       <td><input type="text" class="form-control"  id="usr"  ng-model="item.labval"  placeholder="0" readonly></td>

       <td> <select ng-model="item.stonecal" ng-change="newstchg($index,item.stonecal)" ng-blur="calMrpValue($index)"  class="selectpicker" >
       <option ng-repeat="lab in labcal" >{{lab.name}}</option>
       </select></td>
       
        <td><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');"  class="form-control" id="usr" ng-model="item.stchg"  ng-change="newstchg($index,item.stonecal)" ng-blur="calMrpValue($index)"  placeholder="0" ></td>

        <td><input type="text" class="form-control"  id="usr"  ng-model="item.stval"  placeholder="0" readonly></td>
        
<!-- <<HEAD<<<<<  -->
       <td><input type="text" class="form-control"  id="usr" ng-model="item.taxval"  ng-change="newTaxVal($index,item.taxval)" ></td>
      
<!-- ======= -->
       <td><input type="text" class="form-control"  id="usr" ng-model="item.taxval"  ng-change="newTaxVal($index,item.taxval)" readonly></td>
       <!-- <td><select  class="selectpicker">
        <option value="{{itemname.name}}">1%</option>
        </select></td> -->
       <!-- <td ><input type="text" class="form-control"  id="usr"   ng-model="item.taxamt" ng-value="{{item.taxamt}}"></td> -->
       <!-- <td ><input type="text" class="form-control"  id="usr" ng-model="item.final" value="{{item.final}}"></td> -->

<!-- for ng-hide function -->
      <!-- <p ng-hide = " hide">
        <td ><input type="text" class="form-control"  id="usr"   ng-model="item.Qty" ng-value="{{item.Qty}}"></td>
       <td ><input type="text" class="form-control"  id="usr" ng-model="item.Batch" value="{{item.Batch}}"></td>
        <td ><input type="text" class="form-control"  id="usr" ng-model="item.tags" value="{{item.tags}}"></td>
         <td ><input type="text" class="form-control"  id="usr" ng-model="item.wt" value="{{item.wt}}"></td>
       </p> -->
<!-- >>>>>>> 5e06ab29cb168db5757fe67c832afe87d83d34ee -->
       </tr>
    </tbody>      
  </table>
  
  <!-- <script type="text/javascript">
    function saveTextAsFile()
{
    alert("text file")
    var fh=fopen("C:\\sample\\sample.txt",3);
    if(fh!=-1)
    {
        alert("some text")
        var stxt="some text"
        fwrite(fh,stxt);
        /*length=flength(fh);
        str=fread(fh,length);*/
        fclose(fh);
        //console.log(str);
    }
  }
  </script> -->
 <!-- <input id="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">
            <input id="datepickerMirror" type="text" data-ng-model="date"> -->

</body>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> -->
    <script type="text/javascript" src="controller/barcodecntrl.js"></script> 
    <script src="controller/hotkeys.js"></script>
   <!--  <script type="text/javascript" src="controller/maincontroller.js"></script>  --> 
    </html>