<!DOCTYPE>
<html ng-app="myApp">
<head>

 <title>ClosingStockBookByGroupItem</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var specialElementHandlers = {
            '#editor': function (element,renderer) {
                return true;
            }
        };
        $('#cmd').click(function () {
            var doc = new jsPDF( "landscape","pt","a3");
            // doc.autoTable(columns, rows);
            var source = $('#target').html();
            var specialElementHandlers = {
                '#bypassme': function (element, renderer) {
                    return true;
                }
                
            };
            doc.fromHTML(source, 0, 0, {
              
                              // top: 20,
                              // bottom: 0,
                              // left: 20,
                              // right:0,
                              width: '100%',
                          
              // doc.line(20, 20, 60, 20)
                    // source, // HTML string or DOM elem ref.
                       // 'margin.left':5, 
                       // 'margin.right':5,// x coord
                    //   margins.top, { // y coord
                      // 'width': margins.width,
                    // 'width': 800,
                'elementHandlers': specialElementHandlers
              // }
            });
             doc.save('1.pdf');
        });
    });
</script>

 </head> 

 <style type="text/css">

 .panel.panel-default
{
  height: 80%;
  width: 100%;
  border-style: solid;
  border-color: black;
}

.fieldset-auto-width {
         display: inline-block;
    }


  thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }


        thead th {
            height: 50px;
              width: 10%;

            float: left;

            /*text-align: left;*/
        }

        tbody {
            height: 450px;
            overflow-y: auto;
        }

        tbody td {

            width: 10%;

            float: left;
        }

 </style>

 <body  style="background-color:#bdc3c7;" ng-controller="reportCntrl" id="target" >
 <br>
 <br>
 <!-- <div class="row"> -->
  <div class="col-sm-1">

<form>  
   Group
 
   <select ng-model="sort.Group" ng-change = "clearCall()" ng-init="sort.Group='1'">
        <option >1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
  
  </div> 
  <div class="col-sm-2" ng-init="sort.SaleCty='2'">
 
   SaleCategory
   
   <select ng-model="sort.SaleCty" ng-change = "clearCall()">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>

  
  </div>

  <div class="col-sm-1" ng-init="sort.Purity='3'">

   Purity
  
   <select ng-model="sort.Purity" ng-change = "clearCall()">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
   </select>


  </div>
  <div class="col-sm-1">
 
   Item
  
   <select ng-model="sort.Item" ng-change = "clearCall()" ng-init="sort.Item='4'" >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
   </select>


  </div>

  <div class="col-sm-4">
  StockPoint
  <select ng-model = "stockPoint" ng-change = "clearCall()">
    <option ng-repeat="treasure in treasure"  >{{treasure.stockpointname}}</option>
        </select>
    As On 
    <input  type="date" id="yourDatePicker" ng-model="bit2.date1" ng-change = "clearCall()" > 
  </div>
  

  <div class="col-sm-3">
 <!--   -->

    <button ng-click="preview1()" class="btn btn-primary" id="save" >Preview</button>
<!-- 
    <button ng-click="preview1()" class="btn btn-primary" id="save" >Preview</button> -->
    <a href='mainpage.html'><button type="button" class="btn btn-danger"   ng-cloak>Close</button></a>

    <button class="btn btn-info" id="cmd" >P D F</button>
    <button ng-click="save()" class="btn btn-danger" id="save" >Export</button>
  </div>

<!--  </div> -->
 <br>
 <br>
    <br>
 <div class="panel panel-default">
  <table class="table table-striped">
    <thead>
          <tr >
             <!-- <th><span class="text">Item Name</span></th> -->
             <th><span class="text">{{sort1}}</span></th>
             <th><span class="text">{{sort2}}</span></th>
             <th><span class="text">{{sort3}}</span></th>
             <th><span class="text">{{sort4}}</span></th>

        <!-- <th ng-if = " radio.report =='purity' " >Group</th>
        <th ng-if = " radio.report =='purity' " >SaleCategory</th>
        <th ng-if = " radio.report =='purity' " >Purity</th> -->
         
            <!--  <th>Item</th> -->
           <!--   <th>UoM</th> -->
           <!--   <th>Op Qty</th>
             <th>Op Pcs</th> -->
             <th>Rcv Qty</th>
             <th>Rcv Pcs</th>
             <!-- <th>Tot Qty</th>
             <th>Tot Pcs</th>
 -->             <th>Iss Qty</th>
             <th>Iss Pcs</th>
             <th>CI Qty</th>
             <th>CI Pcs</th>

           </tr>
     </thead>
     <tbody >
      <tr   ng-repeat ="details in reportonedate1 " >
            
           <!-- <td >{{details._id.sort1}}{{trail(details._id.sort1)}}</td> -->
           <td  ng-style="myObj1">{{details._id.sort1}}</td>
          <!--  <td ng-if = "details._id.sort1 != undefined ">{{details._id.sort1}}</td> -->

          <!--  <td ng-if = "details._id.sort1 == 'Diamond'">{{}}</td>
           <td ng-if = "details._id.sort1 == 'undefined'">{{123}}</td>
           <td ng-if = "details._id.sort1 == 'null'">{{1234}}</td>
            <td ng-if = "trail()">{{120}}</td> -->
     <!--    ng-if = "transaction != 'Urd Purchase'" ng-style="myObj" -->
        <td  ng-style="myObj2" >{{details._id.sort2}}</td>
         
        <td   ng-style="myObj3">{{details._id.sort3}}</td>
       
        <td  ng-style="myObj4">{{details._id.sort4}}</td>
           
             <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.rcvQty | number:3}}</td> 
             <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.rcvQty | number:3}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.rcvQty | number:3}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.rcvQty | number:3}}</td>

             
              <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.rcvPcs| number:0}}</td>
              <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.rcvPcs | number:0}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.rcvPcs | number:0}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.rcvPcs | number:0}}</td>
              <!--  <td>{{details.totQty}}</td>   
                <td>{{details.totPcs}}</td> -->
               
              <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.issQty| number:3}}</td>
              <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.issQty | number:3}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.issQty | number:3}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.issQty | number:3}}</td>


              <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.issPcs| number:0}}</td>
              <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.issPcs | number:0}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.issPcs | number:0}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.issPcs | number:0}}</td>


             <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.ciQty| number:3}}</td>
              <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.ciQty | number:3}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.ciQty | number:3}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.ciQty | number:3}}</td>


                 <td ng-if = "details._id.sort1 != undefined " ng-style="myObj1">{{details.ciPcs| number:0}}</td>
              <td ng-if = "details._id.sort2 != undefined " ng-style="myObj2">{{details.ciPcs | number:0}}</td>
             <td ng-if = "details._id.sort3 != undefined " ng-style="myObj3">{{details.ciPcs | number:0}}</td>
             <td ng-if = "details._id.sort4 != undefined " ng-style="myObj4">{{details.ciPcs | number:0}}</td>

                  
                   

         </tr>
          
     </tbody>
    </table>
  
 </div>
 <!-- <div>
  <a href='mainpage.html'><button class="col-md-2 col-md-offset-5" > close</button></a>
</div> -->

 </body>
<!-- for javascript date -->
 <script>
document.getElementById("yourDatePicker").valueAsDate = new Date()
</script>

 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller/reportCntrl.js"></script> 

 </html>