body{
	font-family:sans-serif;
	margin:0;
	/*background:
	background: #1FA2FF;  /* fallback for old browsers 
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /*background: #1DADFE ;*/
}

.bg{
	height: 100vh;
	width:100%;

}
.form>*{
	border: 0;
	padding: 10px;
	/*background: #FFF;*/
	/*line-height: 60px;*/
	font-size:30px;
}

.bg{
	display: flex;
	justify-content: center;
	align-items: center;

}
.form input[type="button"]{
position: absolute;
    left: 100px;
    top: 250px;
}
