<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pad-right-zero" style="display: block; margin-bottom: 5px; "
    data-ng-repeat="item in params">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pad-zero">
        <label class="text-center"><strong>{{item.label}}</strong></label>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 pad-zero"
        data-ng-switch on="item.inputType">
        <div data-ng-switch-when="text">
            <input id="item.id" data-ng-model="values[item.model]" 
                type="text" class="form-control" style="width: 100%"
                data-ng-change="onInputChange(item.onChange)"
                placeholder="{{item.placeholder}}" data-ng-disabled="item.disable"/>
        </div>
        <div data-ng-switch-when="email">
            <input id="item.id" data-ng-model="values[item.model]" 
                type="text" class="form-control" style="width: 100%"
                data-ng-change="onInputChange(item.onChange)"
                placeholder="{{item.placeholder}}" data-ng-disabled="item.disable"/>
        </div>
        <div data-ng-switch-when="date">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
                alt-input-formats="altInputFormats" datepicker-options="dateOptions"
                data-ng-model="values[item.model]" is-open="datepopup[item.id].opened" 
                close-text="Close" data-ng-init="showDatePopupInit(item)" 
                data-ng-focus="showDatePopup(item.id)" data-ng-disabled="item.disable"/>
        </div>
        <div data-ng-switch-when="number">
            <input id="item.id" data-ng-model="values[item.model]" 
                type="number" class="form-control" style="width: 100%"
                data-ng-change="onInputChange(item.onChange)"
                placeholder="{{item.placeholder}}" data-ng-disabled="item.disable"/>
        </div>
        <div data-ng-switch-when="dropdown">
            <select id="item.id" data-ng-options="opt.id as opt.label for opt in item.options" 
            class="form-control" style="width: 100%" ng-model="values[item.model].id"
            data-ng-change="onDropdownChange(item.onChange)"
            data-ng-init="getOptionsList(item)" data-ng-disabled="item.disable"></select>
        </div>
    </div>
</div>